<%= stylesheet_link_tag "application" %>
<%= simple_form_for(@programa, :html => { :class => 'form-horizontal' }, :remote => true) do |f| %>

		<%= f.error_notification %>

	  <%= f.input :nombre, :label =>'Nombre:', :require => true %>
	  
	  <%= f.input :precio, :label =>'Precio:' %>
	
	  <%= f.label :o, :label =>'Observaciones:' %>
	<div id = "mo">
      <%= f.text_area(:observaciones, :rows =>4) %>
	</div>
	<div class="form-actions">
		<%= f.button :submit, :class => 'btn-primary' %>
		<%= link_to 'Cancelar', programas_path, :class => 'btn' %>
	</div>
<% end %>
