<tr id=<%= "programa_#{programa.id}" %>>

  <td class= 'span1'><%= programa.nombre %></td>
  <td class= 'span1'><%= programa.precio %></td>
  <td class= 'span4'><%= programa.observaciones %></td>
  <td class= 'span2'>
    <%= link_to 'Informacion', programa, :remote => true, :class => 'btn btn-mini btn-info' %>
    <%= link_to 'Editar', edit_programa_path(programa), :remote => true,
        :class => 'btn btn-mini' %>
    
  </td>
</tr>