<%= stylesheet_link_tag "application" %>
<%= simple_form_for(@grupo, :html => { :class => 'form-horizontal' }, :remote => true) do |f| %>

    <%= f.error_notification %>

    <%= f.input :ficha, :label =>'Ficha:' %>
    <%= f.label :Programa, :label =>'Programa: *' %>
    <div id = "mo">
    <%= f.collection_select :programa_id, Programa.all, :id, :nombre %>
    </div>
    <div class="form-actions">
      <%= f.button :submit, :class => 'btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  grupos_path, :class => 'btn' %>
    </div>
<% end %>
