<tr id=<%= "grupo_#{grupo.id}" %>>

  <td><%= grupo.ficha %></td>
  <td><%= grupo.programa.nombre %></td>
  <td>
    <%= link_to 'Informacion', grupo, :remote => true, :class => 'btn btn-mini btn-info' %>
    <%= link_to 'Editar', edit_grupo_path(grupo), :remote => true,
        :class => 'btn btn-mini' %>
    
  </td>
</tr> 